<% provide(:title, 'InventoryIn Vouchers listing') %>
<div class="pull-right">

  <!--<a target="_blank" href="/inventory-in-vouchers.pdf" class="btn btn-info">Pdf</a>-->
  <form method="post" target="_blank" id="pdfForm" action="/pdf-merger-in.pdf">
    <input type="hidden" name="hiddenjson" id="hiddenjson">
    <%= link_to 'New InventoryIn Voucher', new_inventory_in_voucher_path, class: 'btn btn-primary' %>
    <input type="submit" id="alert" class="btn btn-info" value="Print"/>
  </form>
</div>
<div class="display responsive no-wrap voucher_line_items">
  <table id='voucher_line_items' class='DataTable2 DataTable-line-items'>
    <thead>
    <tr>
      <th class='col-md-1 text-center'>Date <br/><input type="text" id="date_search"></th>
      <th class='col-md-1 text-center'>Invoice #</th>
      <th class='col-md-1 text-center'>Vendor/Source <br/><input type="text" id="vendor_search"></th>
      <th class='col-md-3 text-center'>Entity Location <br/><input type="text" id="entity_search"></th>
      <th class='col-md-1 text-center'>Amount &nbsp;&nbsp;#</th>
      <th class='col-md-2 text-center'>Remarks</th>
      <th class='col-md-1 text-center'>Created by <br/><input type="text" id="createdby_search"></th>
      <th class='col-md-1 text-center'>Operations</th>
    </tr>
    </thead>
    <tbody>
    <% @inventory_in_vouchers.each do |inventory_in_voucher| %>
        <tr>
          <td class='text-center'><%= inventory_in_voucher.voucher_date.strftime('%d/%m/%Y') %></td>
          <td class='text-center'><%= inventory_in_voucher.voucher_number %></td>
          <td class='text-center'><%= inventory_in_voucher.secondary_entity_alias_name %></td>
          <td class='text-center'><%= inventory_in_voucher.primary_entity_name_with_location %></td>
          <td class='text-center'><%= inventory_in_voucher.total_amount %></td>
          <td><%= inventory_in_voucher.remarks %></td>
          <td class='text-center'><%= inventory_in_voucher.created_by.custom_object_label %></td>
          <td class='text-center'>
            <%= link_to 'View', inventory_in_voucher %>
            | <%= link_to 'Edit', edit_inventory_in_voucher_path(inventory_in_voucher) %>
            | <%= link_to 'Delete', inventory_in_voucher, method: :delete, data: {confirm: 'Are you sure?'} if current_power.destroyable_inventory_in_vouchers? %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>

    $(function () {
        var dt = $('#voucher_line_items').DataTable({
                    "aLengthMenu": [[15, 30, 60, 120, 240], [15, 30, 60, 120, 240]], // -1 for "All"
                    "iDisplayLength": 20,
                    "order": [[0, "desc"], [1, "desc"]],
                    // ajax: ...,
                    // autoWidth: false,
                    pagingType: 'full_numbers',
                    "sPaginationType": "bootstrap",
                    // processing: true,
                    // serverSide: true,
                    responsive: true,
                    "bSort": false
                }
        );

        $('#alert').on('click', function (e) {
            $('#hiddenjson').val("")
            e.preventDefault();

            var arr = [];
            var rows = $("#voucher_line_items").dataTable().$('tr', {"filter": "applied"}).each(function () {
                var row1 = $(this).find("td:eq(0)").text();
                var row2 = $(this).find("td:eq(1)").text();
                var row3 = $(this).find("td:eq(2)").text();
                var row4 = $(this).find("td:eq(3)").text();
                var row5 = $(this).find("td:eq(4)").text();
                var row6 = $(this).find("td:eq(5)").text();
                var row7 = $(this).find("td:eq(6)").text();


                var data = {
                    row1: row1,
                    row2: row2,
                    row3: row3,
                    row4: row4,
                    row5: row5,
                    row6: row6,
                    row7: row7,
                }
                arr.push(data)

            });

            jsonData = JSON.stringify(arr);
            $('#hiddenjson').val(jsonData)

            $('#pdfForm').submit();

        });
        $('#date_search').keyup(function () {
            dt.column(0).search(this.value).draw();
        });
        $('#invoice_search').keyup(function () {
            dt.column(1).search(this.value).draw();
        });
        $('#vendor_search').keyup(function () {
            dt.column(2).search(this.value).draw();
        });
        $('#entity_search').keyup(function () {
            dt.column(3).search(this.value).draw();
        });
        $('#createdby_search').keyup(function () {
            dt.column(6).search(this.value).draw();
        });
    });
</script>
