
<div class="display responsive no-wrap voucher_line_items">
  <table id="product_lists_table"  class='DataTable1 DataTable-line-items'>
    <thead>
    <tr>
      <th>Business Entity</th>
      <th>Location</th>
      <th>Sku</th>
      <th>ProductName</th>
      <th>PCat</th>
      <th>Lang</th>
      <th>PosSales</th>
      <th>AvailableStock</th>
      <th>GrossAmount</th>
    </tr>
    </thead>
    <tbody>
    <% @stock_summary['result'].each do |product| %>
        <tr>
          <td><%= product['BusinessEntity'] %></td>
          <td><%= product['Location'] %></td>
          <td><%= product['Sku'] %></td>
          <td><%= product['ProductName'] %></td>
          <td><%= product['PCat'] %></td>
          <td><%= product['Lang'] %></td>
          <td><%= product['PosSales'] %></td>
          <td><%= product['AvailableStock'] %></td>
          <td><%= product['GrossAmount'] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div>
    <h3>Total Amount of Sales : <%=@stock_summary['amount'] %></h3>
  </div>
</div>

<script>
  $(function () {
    var dt = $('#product_lists_table').DataTable({
      "aLengthMenu": [[15, 30, 60, 120, 240], [15, 30, 60, 120, 240]], // -1 for "All"
      "iDisplayLength": 20,
      "order": [[0, "desc"], [1, "desc"]],
      // ajax: ...,
      // autoWidth: false,
      pagingType: 'full_numbers',
      "sPaginationType": "bootstrap",
      // processing: true,
      // serverSide: true,
      responsive: true,
      "bSort": false
    });

    $('#name_search').keyup(function () {
      dt.column(1).search(this.value).draw();
    });
    $('#language_search').keyup(function () {
      dt.column(2).search(this.value).draw();
    });
    $('#author_search').keyup(function () {
      dt.column(4).search(this.value).draw();
    });
    $('#category_search').keyup(function () {
      dt.column(6).search(this.value).draw();
    });
    $('#dist_search').keyup(function () {
      dt.column(8).search(this.value).draw();
    });


  });
</script>
