<center><h3>Please Select any one of the option to set threshold</h3></center>
<hr/>
<center>
  <label class="label-success">
    <% flash[:status] %>
  </label>
</center>
<br/>
<form id="thresholdform" method="post" action="/save-threshold">
  <div>
    <div class="col-md-12">
      <h4>Select the threshold type  </h4>
      <div class="col-md-offset-1">
        <div class="col-md-3">
          <label for="category">Category</label>
          <select name="category" class="select" id="category">
            <option value="" data-value="">Select One</option>
            <% @category.each do |category| %>
                <option value="<%= category.id %>" data-value="<%= category.name %>"><%= category.name %></option>

            <% end %>
          </select>
        </div>
        <div class="col-md-2">
          <label for="language">Language</label>
          <select name="language" class="select" id="language">
            <option value="" data-value="">Select One</option>
            <% @language.each do |language| %>
                <option value="<%= language.id %>" data-value="<%= language.name %>"><%= language.name %></option>
            <% end %>
          </select>

        </div>
        <div class="col-md-5">
          <label for="product">Products</label>
          <select name="product" class="select" id="product">
            <option value="" data-value="">Select One</option>
            <% @products.each do |product| %>
                <option value="<%= product.sku %>" data-value="<%= product.name %>"><%= product.sku %>
                  :: <%= product.name %>::<%= product.language.try(:name) %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div style="margin: 30px;">
    <center>
      <h3>Threshold is applied to :</h3><br/>
      <span id="filter-param"></span>
    </center>
  </div>
  <hr/>
  <div class="col-md-12" style="margin-top: 20px;">
    <div class="col-md-4 col-md-offset-4">

      <center>
        <div class="row">
          <input type="number" name="thresholdvalue" id="thresholdvalue" class="form-control-static">
          <input type="submit" id="savevalue" class="btn btn-primary" value="Save">
        </div>


      </center>
    </div>
  </div>
</form>
<script>
    $(function () {
        $('.select').select2({width: 'resolve'});
        language
        $('#category').on('change', function (e) {
            $("#language").select2("val", "");
            $("#product").select2("val", "");
            $('#filter-param').html("Category : " + "<b class='label label-primary'>" + $(this).select2('data').text + "</b>" + "<br/>");
        });

        $('#language').on('change', function (e) {
            $("#category").select2("val", "");
            $("#category").select2("val", "");
            $('#filter-param').html("language : " + "<b class='label label-primary'>" + $(this).select2('data').text + "</b>" + "<br/>");
        });

        $('#product').on('change', function (e) {
            $("#category").select2("val", "");
            $("#language").select2("val", "");
            $('#filter-param').html("Product : " + "<b class='label label-primary'>" + $(this).select2('data').text + "</b>" + "<br/>");
        });

        $('#thresholdform').on('submit', function () {

            var values = {};
            $.each($(this).serializeArray(), function (i, field) {
                values[field.name] = field.value;
            });

            if (values['category'] == "" && values['language'] == "" && values['product'] == "") {
                alert('Please select the Threshold Type');
                return false;
            }

            if (values['thresholdvalue'] == "") {
                alert("Please enter the threshold limit value")
                return false;
            }
        });

    });
</script>