<% provide(:title, 'My Account') %>
<h2 class='text-center'>
  <%= "My Account       : #{sprintf '%.0f', @current_user.cash_account.entries.debit_balance}" %><br/>
  <hr/>

  <%#= "Total Cash       : #{sprintf '%.0f', @current_user.cash_account.entries.full_amount}" %><br/>
  <%#= "Cashier Received : #{sprintf '%.0f', @current_user.cash_account.entries.full_due_amount}" %><br/>


</h2>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Total Sale Amount(Cash)</th>
    <th>Total Amount Received by cashier</th>
    <th>Credit Card Transcation</th>
  </tr>
  </thead>

  <tbody>
  <%
     deb = 0
     cre = 0
     card1 = 0
     @dates.each do |date| %>
      <tr>
        <td><%= date %></td>
        <td>
          <%= @debit[date] %>
          <% deb = deb+@debit[date].to_i
          %>
        </td>
        <td>
          <%= @credit[date] %>
          <% cre = cre + @credit[date].to_i
          %>
        </td>
        <td>
          <%= @card[date] %>
          <% card1 = card1 + @card[date].to_i
          %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total :<%= deb %></td>
    <td>Total :<%= cre %></td>
    <td>Total :<%= card1 %></td>

  </tr>
  </tbody>
</table>