<% provide(:title, 'My Account') %>
<h2 class='text-center'>
  My Account
  :<%= " #{sprintf '%.0f', @current_user.cash_account.entries.debit_balance}" %> (Total Received - Amount Deposited)
</h2>
<br/>
<hr/>

<%#= "Total Cash       : #{sprintf '%.0f', @current_user.cash_account.entries.full_amount}" %><br/>
<%#= "Cashier Received : #{sprintf '%.0f', @current_user.cash_account.entries.full_due_amount}" %><br/>


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Total Cash Sales (INR) + Advance Amount</th>
    <th>Amount Deposited (INR)</th>
    <th>Total Credit Card Sales</th>
  </tr>
  </thead>

  <tbody>
  <%
     deb = 0
     cre = 0
     card1 = 0
     @dates.each do |date1| %>
      <tr>
        <td><%= date1 %></td>
        <td>
          <%= @result[date1] %>
          <% deb = deb+@result[date1].to_i
          %>
        </td>
        <td>
          <%= @credit[date1] %>
          <% cre = cre + @credit[date1].to_i
          %>
        </td>
        <td>
          <%= @card[date1] %>
          <% card1 = card1 + @card[date1].to_i
          %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total :<%= deb %></td>
    <td>Total :<%= cre %></td>
    <td>Total :<%= card1 %></td>
  </tr>
  </tbody>
</table>