<% provide(:title, 'InventoryOut Vouchers listing') %>
<%= link_to 'New InventoryOut Voucher', new_inventory_out_voucher_path, class: 'pull-right' %>
<div id="invoice_out" class="display responsive no-wrap voucher_line_items">
  <table id='voucher_line_items' class='DataTable1 DataTable-line-items'>
    <thead>
      <tr>
        <th class='col-md-1 text-center'>Date<br/><input type="text" id="date_search"></th>
        <th class='col-md-1 text-center'>Invoice #<br/><input type="text" id="invoice_search"></th>
        <th class='col-md-2 text-center'>Consignor :: Location<br/><input type="text" id="cosignor_search"></th>
        <th class='col-md-1 text-center'>Consingee Entity<br/><input type="text" id="entity_search"></th>
        <th class='col-md-1 text-center'>Amount</th>
        <th class='col-md-2 text-center'>Remarks<br/><input type="text" id="remarks_search"></th>
        <th class='col-md-1 text-center'>Created by<br/><input type="text" id="created_search"></th>
        <th class='col-md-2 text-center'>Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @inventory_out_vouchers.each do |inventory_out_voucher| %>
        <tr>
          <td class='text-center'><%= inventory_out_voucher.voucher_date.strftime('%d/%m/%Y') %></td>
          <td class='text-center'><%= inventory_out_voucher.voucher_number %></td>
          <td class='text-center'><%= inventory_out_voucher.primary_entity_name_with_location %></td>
          <td class='text-center'><%= inventory_out_voucher.secondary_entity_alias_name %></td>
          <td class='text-center'><%= inventory_out_voucher.total_amount %></td>
          <td><%= inventory_out_voucher.remarks %></td>
          <td class='text-center'><%= inventory_out_voucher.created_by.custom_object_label %></td>
          <td class='text-center'>
            <%= link_to 'View', inventory_out_voucher %> | <%= link_to 'Edit', edit_inventory_out_voucher_path(inventory_out_voucher) %> | <%= link_to 'Delete', inventory_out_voucher, method: :delete, data: { confirm: 'Are you sure?' } if current_power.destroyable_inventory_out_vouchers? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(function () {
    var dt = $('#voucher_line_items').DataTable({
      "aLengthMenu": [[15, 30, 60, 120, 240], [15, 30, 60, 120, 240]], // -1 for "All"
      "iDisplayLength": 20,
      "order": [[0, "desc"], [1, "desc"]],
      // ajax: ...,
      // autoWidth: false,
      pagingType: 'full_numbers',
      "sPaginationType": "bootstrap",
      // processing: true,
      // serverSide: true,
      responsive: true,
      "bSort": false
    });

    $('#date_search').keyup(function () {
      dt.column(0).search(this.value).draw();
    });
    $('#invoice_search').keyup(function () {
      dt.column(1).search(this.value).draw();
    });
    $('#cosignor_search').keyup(function () {
      dt.column(2).search(this.value).draw();
    });
    $('#entity_search').keyup(function () {
      dt.column(3).search(this.value).draw();
    });
    $('#remarks_search').keyup(function () {
      dt.column(5).search(this.value).draw();
    });
    $('#created_search').keyup(function () {
      dt.column(6).search(this.value).draw();
    });


  });
</script>