<% provide(:title, 'POS Invoice listing') %>

<%= render :template => 'total_sales_summary/pos_display', :locals => {:location => @location} %>

<hr/>

<center>
  <h2>Filters</h2>
  <label>Start-Date : </label><%= @start %>&nbsp;&nbsp;&nbsp;
  <label>End-Date : </label><%= @end %>&nbsp;&nbsp;&nbsp;
  <label>Location  : </label><%= @locationselect %>&nbsp;&nbsp;&nbsp;
  <label>Transcation Type : </label><%= @trtype %>&nbsp;&nbsp;&nbsp;
</center>

<hr/>
<%= link_to 'New Sale invoice', new_pos_invoice_path, class: 'pull-right' %>
<div class="display responsive no-wrap voucher_line_items">
  <table id='pos_invoice_index' data-source="<%= pos_invoices_url(format: :json) %>" class='DataTable-line-items'>
    <thead>
    <tr>
      <th class='col-md-1 text-center'>Date</th>
      <th class='col-md-1 text-center'>Invoice #</th>
      <th class='col-md-2 text-center'>Entity</th>
      <th class='col-md-2 text-center'>Location</th>
      <th class='col-md-1 text-center'>Amount</th>
      <th class='col-md-2 text-center'>Payment</th>
      <th class='col-md-2 text-center'>Created by</th>
      <th class='col-md-2 text-center'>Operations</th>
    </tr>
    </thead>
    <tbody>
    <%# @pos_invoices.find_each do |pos_invoice| %>
    <!-- <tr>
          <td class='text-center'><%#= pos_invoice.txn_date.strftime('%d/%m/%Y') %></td>
          <td class='text-center'><%#= pos_invoice.number %></td>
          <td class='text-center'>
            <%#= pos_invoice.location.entity_name_with_location %>
          </td>
          <td class='text-center'><%#= pos_invoice.entries.sales_total_amount %></td>
          <td class='text-center'><%#= pos_invoice.created_by.custom_object_label %></td>
          <td class='text-center'><%##= link_to 'Show', pos_invoice %>
            <%#= link_to "PDF version", pos_invoice_url(pos_invoice.id, format: "pdf"), target: :_blank %> | <%#= link_to 'Edit', edit_pos_invoice_path(pos_invoice.id) if current_power.include_record?(:updatable, pos_invoice) %>
          </td>
        </tr> -->
    <%# end %>
    </tbody>
  </table>
</div>


<script>
    $(function () {

        $('.select-box').select2()
//        var d = new Date();
//        var month = d.getMonth() + 1;
//        var day = d.getDate();
//        var year = d.getFullYear();
//        var hour = d.getHours();
//        var min = d.getMinutes();
//
//        valr = day + "/" + month + "/" + year + "-" + hour + ":" + min;
//        $('.datetimepickerto').val(valr)

        $('.datetimepickerfrom').datetimepicker({
            format: 'DD/MM/YYYY-HH:mm',
            showTodayButton: true,
            sideBySide: true,
            showClose: true
        });
        $('.datetimepickerto').datetimepicker({
            format: 'DD/MM/YYYY-HH:mm',
            showTodayButton: true,
            sideBySide: true,
            showClose: true
        });

        $(".datetimepickerfrom").on("dp.change", function (e) {
            $('.datetimepickerto').data("DateTimePicker").minDate(e.date);
        });
        $(".datetimepickerto").on("dp.change", function (e) {
            $('.datetimepickerfrom').data("DateTimePicker").maxDate(e.date);
        });


//        var picker = $('.datetimepickerto').data('datetimepicker');
//        picker.setDate(d);


        var dt = $('#pos_invoice_index').dataTable({
            processing: true,
            serverSide: true,
            ajax: $('#pos_invoice_index').data('sourc'),
            aLengthMenu: [[15, 30, 60, 120, 240], [15, 30, 60, 120, 240]],
            pagingType: 'full_numbers',
            order: [[0, "desc"], [1, "desc"]],
            sPaginationType: "bootstrap",
            data: {
                "fromdate": $('#fromdate').val(),
                "todate": $("#todate").val(),
                "transcation_type": $("#ttype").val()
            },
            columns: [
                {"sClass": "text-center"},
                {"sClass": "text-center"},
                {"sClass": "text-center", "sortable": false},
                {"sClass": "text-center"},
                {"sClass": "text-right", "sortable": false},
                {"sClass": "text-center"},
                {"sClass": "text-center"},
                {"sClass": "text-center", "sortable": false}
            ]
        });

        $('#date_search').keyup(function () {
            dt.column(0).search(this.value).draw();
        });
        $('#entity_search').keyup(function () {
            dt.column(2).search(this.value).draw();
        });
        $('#location_search').keyup(function () {
            dt.column(3).search(this.value).draw();
        });
        $('#invoice_search').keyup(function () {
            dt.column(1).search(this.value).draw();
        });

        $('#created_search').keyup(function () {
            dt.column(5).search(this.value).draw();
        });


    });
</script>